@inherits LayoutComponentBase

<div class="Page">
    <div>
    <div class="top-nav">
        <div class="logo">
            Price Evaluator
        </div>
    <BlazoredToasts />

        
    </div>

    </div>






    <div class="body">
        @Body
    </div>

    
</div>
